<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Trip Planner</h1>
    </header>
    <section id="entry">
      <form id="tripForm">
        <div class="city">
          <label for="city">Destination: </label>
          <input type="text" id="city" placeholder="Your Destination" />
        </div>
        <div class="travelDate">
          <label for="date">Start Date </label>
          <input type="date" id="startDate" />
          <label for="date">End Date </label>
          <input type="date" id="endDate" />
        </div>
        <div class="btn">
          <button id="submit">Submit</button>
          <button id="remove">Reset</button>
        </div>
      </form>
    </section>

    <section id="tripInfo">
      <div class="result"></div>
    </section>

    <section class="Forecast">
      <h3>Next 5 Days Forecast</h3>
      <div class="extendForecast">
      <div class="extend">
        <h4 id="day1"></h4>
        <img id="img1" src="" alt="" />
        <h4 id="day1Min"></h4>
        <h4 id="day1Max"></h4>
      </div>
      <div class="extend">
        <h4 id="day2"></h4>
        <img id="img2" src="" alt="" />
        <h4 id="day2Min"></h4>
        <h4 id="day2Max"></h4>
      </div>
      <div class="extend">
        <h4 id="day3"></h4>
        <img id="img3" src="" alt="" />
        <h4 id="day3Min"></h4>
        <h4 id="day3Max"></h4>
      </div>
      <div class="extend">
        <h4 id="day4"></h4>
        <img id="img4" src="" alt="" />
        <h4 id="day4Min"></h4>
        <h4 id="day4Max"></h4>
      </div>
      <div class="extend">
        <h4 id="day5"></h4>
        <img id="img5" src="" alt="" />
        <h4 id="day5Min"></h4>
        <h4 id="day5Max"></h4>
      </div>
      
      </div>
    </section>
    <footer>
    <p>Travel Capstone Project:4 - Shahan</p>  
    </footer>

    <script>
      // Check that service workers are supported
      /*if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }*/
  </script>
  </body>
</html>
