/*footer*/
$primary-color: #39393b;
$second-color: #ffffff;
footer{
    position: fixed;
    bottom: 0;
    text-align:center;
    font-size:25px;
    margin-top: 15%;
    background-color:$primary-color;
    color:$second-color;
    width:100%;
    height: 3%;
  
 

}
